.categories1-input{
    border-radius: 5px;
    height: 45px;
    outline: none;
    margin-left: 16px;
    font-weight: none;
    font-weight: none;
    font-family: 'Open Sans', sans-serif;
}
.categories-form{
    border-radius: none;
    border: none;
    transition: none;
}
.categories-option{
      color: gray;
}
.categories-form:focus{
    border-color:black;
    box-shadow: none;
}
.form-select{
    color: gray;
}
