.categories-sub-input{
    border-color: gray;  
    border-radius: 30px;
}
.categories-sub-input:hover{
    border: 1px solid red;
    box-shadow: none;
    border-left: none;
}
.categories-sub-input:focus{
    box-shadow: none;
    outline: none;
    border-color:gray;
}
.categories-form{
    border-radius: none;
    border: none;
    transition: none;
}
.categories-option{
      color: gray;
}
.categories-form:focus{
    border-color:black;
    box-shadow: none;
}
.form-select{
    color: gray;
}
.categories-icon{
    margin: 10px 0px 0px 0px;
    padding-left: 10px;
    position:absolute;
}