.width{
     height:40px;
     
}
.blue{
    background-color:rgb(15, 52, 96);
}
.white-icon{
    color: white;
    margin-top: 10px;

}
.white-text{
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 12px;
}
.mail-icon{
    color: white;
    margin-top: 12px;
    margin-left: 20px;
}
.right-white-text{
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 12px;

}
.right-white-text:hover{
    color: rgb(233, 69, 96);
}
.option:hover{
    background-color: red;
}