*{
  margin: 0;
  padding: 0;
}
.first-carousel{
  width: 70%;
  height: 700px;
  background-color: rebeccapurple;
}
.first-carousel-card{
     height:410px;
     padding: 10px;
     width: 50%;
     border:rgb(155, 24, 24) solid 10px;
     background-color: rgb(255, 255, 255);
     box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
     border-radius: 18px;
}
.first-carousel-image{
       width: 100%;
}
.first-carousel-offer{
  font-size: 10px;
  background-color: rgb(233, 69, 96);
  width: 18%;
  height: 25px;
  border-radius: 15px;
  color: white;
  padding-top: 5px;
  text-align: center;

}
.first-carousel-title-name{
  margin-bottom: 0;
  font-weight: 700;
  color: rgb(55, 63, 80);
  font-size: 15px;

}
.first-carousel-ml{
  font-size: 15px;
  margin-bottom: 0;
  color: rgb(125, 135, 156);
}
.first-carousel-rating{
    margin-bottom: 0;
    font-size: 14px;
    color: rgb(233, 69, 96) ;
    font-weight: 700;
   
}
.first-carousel-deleted{
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
   color: rgb(125, 135, 156);
}