.categories{
       margin-left: 20px;
       padding-top: 10px;
       margin-bottom:0px;
       font-weight: 600;
}

.bor-2{
   
      width: 40%;
      height: 2px;
      background: rgb(223, 215, 215);    
      border: none;
      border-left: none;
}
.bor-1{
  width: 40%;
  height: 2px;
  float:inline-end;
  background: rgb(223, 13, 13);
  border:none;
  border-bottom-right-radius: none;
  border-top-right-radius: none;
}
.code{
  display:flex;
  margin-top: 5px;
}
li{
    list-style-type: none;
  
}
.list{
    text-decoration: none;
    color: rgb(43, 52, 69);
    font-weight:600;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 15px;
    
}

.order{
  padding: 10px;
}
.dropdown{
   margin-left: 15px;
}
#example-collapse-text{
  margin-left: 15px;
}
.carrot-icon{
  margin: 5px 10px;
}
.carrot-icon:hover{
  color:rgb(223, 13, 13);
}
.list:hover{
    color:rgb(223, 13, 13);
}
.sidenav-bar{
     margin-bottom: 145px;
}
.col-scroll{
  width: 100%;
  height: 600px;
  overflow: auto; 
  border-radius: 20px; 
}
.col-scroll{
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
  border-radius: 8px;
   
}
::-webkit-scrollbar {
  width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(182, 182, 182);
  height: 500px;
}
.sidenav-bar{

}
.nav {
  
}
