.categories{
       margin-left: 20px;
       padding-top: 10px;
       margin-bottom:0px;
       font-weight: 600;
}
.Col{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    border-radius: 8px;
     
}
.bor-2{
   
      width: 40%;
      height: 2px;
      background: rgb(223, 215, 215);    
      border: none;
      border-left: none;
}
.bor-1{
  width: 40%;
  height: 2px;
  float:inline-end;
  background: rgb(223, 13, 13);
  border:none;
  border-bottom-right-radius: none;
  border-top-right-radius: none;
}
.code{
  display:flex;
  margin-top: 5px;
}
li{
    list-style-type: none;
  
}
.list{
    text-decoration: none;
    color: rgb(43, 52, 69);
    font-weight:600;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 15px;
    
}

.order{
  padding: 10px;
}
.dropdown{
   margin-left: 15px;
}
#example-collapse-text{
  margin-left: 15px;
}
@media only screen and (min-width:1025px) {
  .Col{
        width:23%;

  }
}

@media only screen and (max-width:547px) {
  .Col{
        width: 100%;

  }
}
