@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@300&display=swap');


.banner-container{
     background-color: rgb(246, 249, 252);   
}
.banner-content{
     margin: 50px 50px;
}
.banner-row{
     border-radius: 5px;
     box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
}

.banner-col{
     background-color: rgb(239, 239, 239);
     height: 300px;
}
.banner-para{
     font-size: 13px;
}
.banner-heading{
     margin-top: -10px;
     font-weight:bold;
     font-size: 30px;
     line-height: 40px;
     font-family: 'Open Sans', sans-serif;

}
.banner-image{
     width: 85%;
     height: 200px;
     margin-top: 50px;
     margin-left: 20px;
}
