

.side-bar{
       margin-left: 20px;
       padding-top: 0px;
       margin-bottom:10px;
       font-weight: 300;
       font-size: 16px;
       color: rgb(43, 52, 69);

     
}
.bor-2{
   
      width: 45%;
      height: 2px;
      background: rgb(223, 215, 215);    
      border: none;
      border-left: none;
}
.bor-1{
  width: 45%;
  height: 3px;
  float:inline-end;
  background: rgb(223, 13, 13);
  border:none;
  border-radius: 20px;

}
.code{
  display:flex;
  margin-top: 5px;
}

  
.list{
    text-decoration: none;
    color: rgb(43, 52, 69);
    font-weight:600;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 25px;
    padding-top: 7px;
    list-style-type: none;
    
}
.list-icon{
  width: 20px;
  height: 20px;
  font-weight: none;
}

.order{
  padding: 10px;
}
.dropdown{
   text-decoration: none;
   color: rgb(43, 52, 69);
   font-weight:600;
   font-size: 15px;
   display:inline-block;
   margin-bottom: 2px;
   margin-left: 10px;
}
.dropdown:hover{
  color: rgb(233, 69, 96);

}
.arrow-icon{
     margin-left: 130px;
}
.second-arrow-icon{
   margin-left: 67px;
}
.third-arrow-icon{
   margin-left: 105px;
}
.forth-arrow-icon{
  margin-left: 105px;
}
.five-arrow-icon{
  margin-left: 65px;
}
.six-arrow-icon{
  margin-left: 40px;
}
.dropdown-list{
  font-size: 15px;

}
#example-collapse-text{
  margin-left: 28px;
}
.carrot-icons{
  margin:  0px 10px;

}
.carrot-icon{
  width: 20px;
  height: 20px;
  font-weight: none;
}
.carrot-icon:hover{
  color: rgb(233, 69, 96);
}
.list:hover{
  color: rgb(233, 69, 96);
}
.dropdown-list:hover{
  color: rgb(233, 69, 96);

}
.sidenav-bar{
     margin-bottom: 145px;
}
.col-scroll{
  width: 100%;
  height: 600px;
  overflow: auto; 
  border-radius: 20px; 
}
.col-scroll{
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
  border-radius: 8px;
   
}
::-webkit-scrollbar {
  width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(182, 182, 182);
  height: 500px;
}
.sidenav-bar{
      margin-top: -2550px;
}

.nav-row{
  position: relative;
}