@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@300&display=swap');



.section2sub-row{
     margin-left: 5px;
}
.first-carousel-card1{
     height:410px;
     background-color: rgb(246, 249, 252);
}
.d{
     display: inline-block;
}

.first-carousel-card1{
     display: inline-block;
     width: 31%;
     height: 100px;
     margin: 10px;
     border-radius: 10px;
}
.first-carousel-image-fruit{
       width: 100%;
       height: 260px;
}

.first-carousel-button{
     background-color: rgb(233, 69, 96) ;
     border: none;
     font-weight:500;
     padding: 10px 15px 10px 15px;
     font-size: 15px;
     font-family: 'Open Sans', sans-serif;
     margin-top: -100px;
}
.first-carousel-button:hover{
     background-color: rgb(233, 69, 96) ;
}
.first-carousel-container1{
      margin-top: -70px;
}
/* @media (max-width:1024px) {
     .first-carousel {
      background-color: rgb(76, 116, 69);
     width: 100%;
     }
   }
@media (max-width: 992px) {
     .first-carousel {
      background-color: rebeccapurple;
   
     }
   }

   @media (max-width: 768px) {
     .first-carousel {
     background-color: rgb(128, 0, 122);

     }
   } */
